/* ************************************************************************** */
/* Main Page Sections ******************************************************* */
/* ************************************************************************** */

/* hero */
.hero {
  background: url('../images/hero-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  @include isLarge {
    margin-top: 163px;
  }

  .containerish {
    display: flex;
    align-items: center;
    justify-content: center;

    @include isLarge {
      height: 500px;
    }

    @include isXLarge {
      height: 605px;
    }

    .section-info {
      text-align: center;
    }
  }
}

/* emsculpt */
.emsculpt {
  overflow: hidden;
  position: relative;

  .dashed-line {
    display: none;

    @include isXLarge {
      display: block;
      position: absolute;
      width: 75%;
      top: 0px;
      left: 50px;
    }

    @include isRetina {
      display: block;
      position: absolute;
      top: 0px;
      left: 150px;
      width: 65%;
    }

    @include isGiant {
      display: block;
      position: absolute;
      top: 0px;
      left: 600px;
      width: 1000px;
    }
  }

  .emsculpt--butt {
    display: none;

    @include isXLarge {
      display: block;
      position: absolute;
      top: 0;
      left: -45%;
      height: 900px;
      width: auto;
    }

    @include isRetina {
      top: 0;
      left: -33%;
    }

    @include isGiant {
      top: 0;
      left: 0;
    }
  }

  .whatisemsculpt {
    padding: 40px 20px;
    background: $color-light;

    @include isLarge {
      padding: 60px 20px;
      margin-top: 4rem;
    }

    @include isXLarge {
      margin-top: 6rem;
    }

    .containerish {

      display: grid;

      @include isMedium {
        grid-template-columns: 2fr 1fr;
      }

      @include isLarge {
        grid-template-columns: 1fr 1.3fr;
      }

      @include isXLarge {
        grid-template-columns: 1fr 1fr;
      }

      .section-info {
        @include isLarge {
          grid-column: 2;
        }

        @include isXLarge {
          grid-column: 2;
          width: 505px;
        }
      }
    }

  }

  .fact-list {
    background: $color-main;
    padding: 20px;

    @include isMedium {
      position: absolute;
      right: 30px;
      top: 23%;
    }

    @include isLarge {
      position: absolute;
      right: 30px;
      top: 43%;
    }

    @include isXLarge {
      position: absolute;
      right: 60px;
      top: 45%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    }

    @include isRetina {
      position: absolute;
      right: 170px;
      top: 45%;
    }

    @include isGiant {
      position: absolute;
      right: 40rem;
      top: 45%;
    }

    .fact {
      font-family: $font-secondary;
      font-size: 15px;
      line-height: 1.2rem;
      font-weight: 600px;
      color: $color-white;
      margin: 0;
    }
  }

  .whatitdoes {
    padding: 40px 20px;

    @include isMedium {
      padding: 100px 20px;
    }

    @include isLarge {
      padding: 100px 20px 40px 20px;
    }

    .containerish {
      display: grid;
      row-gap: 1rem;

      @include isMedium {
        grid-template-columns: 1fr 1fr;
      }

      @include isLarge {
        grid-template-columns: repeat(4, 1fr);
      }

      @include isXLarge {
        max-width: 976px;
      }

      h2 {
        text-align: center;

        @include isMedium {
          grid-column: 1 / -1;
          padding-bottom: 1.5rem;
        }
      }

      .col-one,
      .col-two,
      .col-three,
      .col-four {
        display: flex;
        flex-direction: column;
        align-items: center;

        .col-img {
          height: 158.42px;
          width: 158.42px;
          margin-bottom: 1rem;
        }

        .emcsulpt--icon-title {
          font-family: $font-secondary;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}

/* averages */
.averages {
  background: $color-main;
  padding: 20px;

  .containerish {
    display: grid;

    p {
      margin: 0;
    }

    @include isXLarge {
      max-width: 900px;
    }

    @include isMedium {
      grid-template-columns: 1fr .5fr 1fr;
      align-items: center;
    }

    @include isLarge {
      grid-template-columns: 1fr 100px 1fr;
      align-items: center;
    }

    @include isXLarge {
      grid-template-columns: 1fr 100px 1fr;
      align-items: center;
    }

    .col-left,
    .col-right {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include isLarge {
        flex-direction: row;
      }

      .bignumber {
        font-family: $font-secondary;
        font-size: 5rem;
        line-height: 5rem;
        color: $color-white;

        @include isLarge {
          margin-right: 1rem;
        }
      }
    }

    .col-mid {
      display: inline-flex;
      justify-content: center;

      .col-plus-copy {
        font-family: $font-secondary;
        font-size: 2.75rem;
        line-height: 2.75rem;
        font-weight: 600;
        color: $color-white;
      }
    }
  }
}

/* efficacy */
.efficacy {
  // padding: 40px 20px;
  overflow: hidden;
  position: relative;

  .dashed-line {
    display: none;

    @include isXLarge {
      display: block;
      width: 85%;
      position: absolute;
      top: 0;
      left: -37%;
    }

    @include isRetina {
      width: 65%;
      top: 0;
      left: -25%;
    }

    @include isGiant {
      width: 35%;
      top: 0;
      left: 5%;
    }
  }

  .containerish {
    text-align: center;
    padding: 40px 20px;
  }
}

/* how it works */
.howitworks {
  .containerish-fluid {
    display: grid;

    @include isMedium {
      grid-template-columns: 1fr 1fr;
      align-items: stretch
    }

    @include isMedium {
      grid-template-columns: 1fr 1.5fr;
      align-items: stretch
    }

    @include isRetina {
      grid-template-columns: 1fr 2fr;
      align-items: stretch
    }

    .col-left {
      background: $color-light;
      padding: 20px;

      @include isXLarge {
        padding: 40px;
      }
    }

    .col-right {
      background: $color-main;
      padding: 40px 20px;
      display: flex;
      align-items: center;

      @include isLarge {
        padding: 2rem 5rem;
      }

      @include isRetina {
        padding: 2rem 10rem;
      }
    }
  }
}

/* what to expect */
.whattoexpect {
  padding: 40px 20px;
  position: relative;
  overflow: hidden;

  @include isXLarge {
    padding: 80px 20px;
  }

  .dashed-line {
    display: none;

    @include isXLarge {
      display: block;
      position: absolute;
      width: 65%;
      top: -50%;
    }
  }

  .video-section {
    display: grid;
    row-gap: 1rem;

    @include isLarge {
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }

    @include isXLarge {
      width: 1100px;
      margin: 0 auto;
      row-gap: 0;
      column-gap: 3rem;
    }

    .col-left,
    .col-right {
      text-align: center;
    }
  }

  .content-section {
    background: $color-light;
    position: relative;
    max-width: 1100px;
    margin: 4rem auto 4rem auto;
    padding: 6rem 0;

    @include isXLarge {
      height: 1000px;
    }

    @include isRetina {
      height: 1500px;
    }

    .plus {
      display: none;

      @include isXLarge {
        display: block;
        height: 43px;
        width: 43px;
      }

      &.plus-1 {
        position: absolute;
        top: -45px;
        left: -45px;
      }

      &.plus-2 {
        position: absolute;
        bottom: -45px;
        right: -45px;
      }
    }

    .row-1 {
      display: grid;

      @include isLarge {
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }

      @include isXLarge {
        width: calc(100% + 40px);
        grid-template-columns: 1fr 51.7%;
      }

      @include isRetina {
        width: calc(100% + 60px);
        grid-template-columns: 1fr 52.5%;
      }

      .col-left {
        padding: 2rem;

        @include isXLarge {
          padding: 4rem;
        }
      }

      .col-right {
        background: url('../images/whattoexpect-img@2x.jpg') center / cover;
        height: 400px;

        @include isRetina {
          height: 650px;
        }
      }
    }

    .row-2 {
      display: grid;

      @include isLarge {
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }

      @include isXLarge {
        width: calc(100% + 40px);
        position: absolute;
        right: 0;
        grid-template-columns: 51.8% 1fr;
      }

      @include isRetina {
        width: calc(100% + 60px);
        grid-template-columns: 52.5% 1fr;
      }

      .col-left {
        padding: 2rem;

        @include isLarge {
          grid-column: 2;
          grid-row: 1;
        }

        @include isXLarge {
          padding: 4rem;
        }
      }

      .col-right {
        background: url('../images/candidate-img@2x.jpg') center / cover;
        height: 400px;

        @include isLarge {
          grid-column: 1;
          grid-row: 1;
        }

        @include isRetina {
          height: 650px;
        }
      }
    }
  }
}

/* before and after section */
.before-after {
  background: $color-main;
  padding: 40px 20px;

  @include isLarge {
    padding: 80px 20px;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem !important;
  }

  .before-after--selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 1150px;
    margin: 0 auto;

    @include isMedium {
      grid-template-columns: repeat(4, 1fr);
    }

    .ba-select {
      opacity: .6;

      &.active {
        opacity: 1;
      }
    }
  }

  .carousel-wrapper {
    display: none;
    max-width: 576px;
    margin: 0 auto;

    .slider {
      img:nth-child(1n+1) {
        padding: 0 .5rem;
      }
    }

    &.active {
      display: block;
    }
  }

  .slider-nav {
    position: relative;
    height: 50px;
  }

  slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 30px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding: 0;
    cursor: pointer;
  }

  .slick-dots li button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "_";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 40px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* faqs */
.faqs {
  padding: 40px 20px;

  @include isMedium {
    padding: 60px 20px;
  }

  @include isLarge {
    padding: 80px 20px;
  }

  .card {
    .card-header {
      background: $color-light;

      .collapsed {
        color: $color-dark;
        font-family: $font-primary;
        font-weight: 700;
        text-decoration: none;

        &::after {
          content: '+';
          font-size: 1.5rem;
          line-height: 1.5rem;
          vertical-align: middle;
          margin-left: .7rem;
        }
      }
    }

    .btn-link {
      color: $color-dark;
      font-family: $font-primary;
      font-weight: 700;
      text-decoration: none;
    }

    .card-body {
      background: $color-main;
      color: $color-white;
      font-family: $font-primary;
      font-size: 18px;

      @include isXLarge {
        padding: 2rem 15rem 2rem 2rem
      }

    }
  }
}

/* about */
.about {
  .containerish-fluid {
    display: grid;

    @include isLarge {
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
    }

    .col-left {
      background: url('../images/about-info-bg@2x.jpg') center / cover;
      padding: 40px 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include isXLarge {
        padding: 4rem;
      }

      @include isGiant {
        padding: 10rem;
      }

      .section-info {
        max-width: 540px;
      }
    }

    .col-right {
      background: url('../images/about-img@2x.jpg') center / cover;
      height: 300px;

      @include isLarge {
        height: 500px;
      }

      @include isXLarge {
        height: 600px;
      }

      @include isGiant {
        height: 800px;
      }
    }
  }
}

/* consultation */
.consultation {
  background: url('../images/form-bg@2x.jpg') center / cover;
  min-height: 200px;
  padding: 40px 20px;

  @include isXLarge {
    padding: 80px 20px;
  }

  .containerish {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;

    .section-info {
      text-align: center;
    }

    .consult-form {
      display: grid;
      width: 100%;
      row-gap: 1rem;

      @include isMedium {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
      }

      input,
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-dark;
        background: transparent;
      }

      input {
        height: 45px;
      }

      textarea {
        height: 80px;

        @include isMedium {
          grid-column: 1 / -1;
        }
      }

      button {
        @include isMedium {
          grid-column: 1 / -1;
          justify-self: center;
          margin-top: 2rem;
        }
      }

      ::placeholder {
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 300;
        color: $color-main;
      }
    }
  }
}