// Color Theme Vars
$color-main: #5F7994;
$color-light: #D1E7F7;
$color-dark: #707070;
$color-white: #ffffff;
$color-black: #000000;


/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-light {
  color: $color-light;
}

.color-dark {
  color: $color-dark;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}